* {
    box-sizing: border-box;
    outline: 0 !important;
}

html {
    font-size: 16px;
}

body {
    background-size: cover;
    background: url("../img/jelen.jpg") no-repeat center center fixed;
    font-family: 'Questrial', sans-serif;
    margin: 0;
}

.homepage {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.search-box {
    margin-top: 76px;
}

.search {
    background: transparent;
    border: none;
    color: #eee;
    cursor: default;
    font-family: 'Questrial', sans-serif;
    font-size: 5em;
    opacity: 0.65;
    text-align: center;
    transition: 0.25s ease;
    width: 100%;
}

.search:focus {
    background: transparent;
    opacity: 1.0;
}

nav {
    font-size: 1.2em;
    max-width: 1600px;
    padding: 0 96px;
    width: 100%;
}

@media (max-width: 1300px) {
    nav {
        font-size: 1.1em;
    }
}

@media (max-width: 1250px) {
    nav {
        font-size: 1em;
    }
}

.categories-box {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 16px 0 0 0;
    padding: 0;
}

.category {
    display: block;
    flex: 1 0 0;
    list-style-type: none;
    text-decoration: none;
    width: 100%;
}

.category__label {
    background: #eee;
    color: #555;
    cursor: default;
    display: block;
    opacity: .5;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: all .6s ease;
}

.category__label:hover {
    opacity: .8;
    transition: all .3s ease;
}

.category__links {
    background: rgba(25, 25, 25, 0.6);
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    width: 100%;
}

.category__link {
    color: #fff;
    display: block;
    opacity: .5;
    opacity: 0.5;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
}

.category__link:hover {
    opacity: 1;
    transform: translateX(4px);
    transition: all .3s ease;
}
