* {
  box-sizing: border-box;
  outline: 0 !important;
}

html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  letter-spacing: 0.3px;
  background-image: linear-gradient(
    135deg,
    hsl(239deg 81% 26%) 0%,
    hsl(240deg 80% 29%) 13%,
    hsl(239deg 81% 32%) 25%,
    hsl(239deg 80% 35%) 37%,
    hsl(239deg 79% 38%) 50%,
    hsl(239deg 79% 42%) 63%,
    hsl(239deg 80% 45%) 75%,
    hsl(239deg 80% 48%) 87%,
    hsl(239deg 80% 52%) 100%
  );
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.search {
  margin-top: 76px;
}

.search input {
  opacity: 0.7;
  width: 100%;
  border: none;
  background: transparent;
  color: #eee;
  font-size: 5em;
  font-family: inherit;
  text-align: center;
  transition: 0.25s ease;
  cursor: default;
}

@media (max-width: 600px) {
  .search {
    margin-top: 12px;
  }

  .search input {
    font-size: 3em;
  }
}

.search input:focus {
  opacity: 1;
  background: transparent;
}

nav {
  width: 100%;
  max-width: 1600px;
  padding: 0 96px;
  font-size: 1.2em;
}

@media (max-width: 1300px) {
  nav {
    font-size: 1.1em;
  }
}

@media (max-width: 1250px) {
  nav {
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  nav {
    padding: 0;
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0 0 0;
  padding: 0;
  list-style: none;
}

.category {
  display: block;
  flex: 1 0 0;
  width: 100%;
  list-style-type: none;
  text-decoration: none;
}

.category__label {
  display: block;
  padding: 10px;
  background: #eee;
  color: #111;
  text-align: center;
  text-decoration: none;
  cursor: default;
}

.category__links {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px;
  list-style-type: none;
  text-decoration: none;
}

.category__link {
  opacity: 0.8;
  display: block;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.category__link:hover {
  opacity: 1;
  transition: all 0.3s ease;
  transform: translateX(4px);
}
