<div id="wrapper">
    <div class="sbox">
        <form action="https://google.com/search?q=">
            <input class="animated zoomIn" autocomplete="off" name="q" autofocus />
        </form>
    </div>
    <div id="nav">
        <ul class="container">
            <li *ngFor="let section of sections" class="menu">
                <a class="parent">{{ section.title }}</a>
                <ul class="submenu">
                    <li *ngFor="let link of section.links">
                        <a class="tab" href="{{ link.href }}">{{ link.name }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>