/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Questrial;
    src: local(bttf_font), url('assets/font/Questrial-Regular.ttf') format('opentype');
}

body {
    background: url("assets/img/jelen.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Questrial', sans-serif;
    font-size: 1.2em;
}

@media screen and (max-width: 1400px) {
    body {
        font-size: 1em;
    }
}

*:focus {
    outline: 0 !important;
}
