@font-face {
    font-family: Questrial;
    font-display: fallback;
    src: local(bttf_font), url('assets/font/Questrial-Regular.ttf') format('opentype');
}

* {
    margin: 0;
}

body {
    background: url("assets/img/jelen.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Questrial', sans-serif;
    font-size: 1.2em;
    height: 100vh;
}

@media screen and (max-width: 1400px) {
    body {
        font-size: 1em;
        height: 100vh;
    }
}

*:focus {
    outline: 0 !important;
}
